* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  font-family: "Markazi Text", serif;
  background-color: rgba(255, 192, 203, 0.731);
}
p {
  font-size: 1.5rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  font-size: 4rem;
}

h2 {
  margin: 1rem auto 0 auto;
  font-size: 3rem;
  height: 7rem;
}

header > img {
  display: block;
  margin: auto;
}

header img {
  width: 70vw;
  height: 6vh;
  text-align: center;
}

nav {
  margin-bottom: 2rem;
}
nav ul {
  list-style: none;
  margin-top: 1.5rem;
}
a {
  font-weight: bold;
  text-decoration: none; /* Remove underline */
}
ul > li {
  display: inline-block;
  margin: 1vh 5vw 1.5vh 5vw;
  color: purple;
  padding: 0.4rem;
  border-radius: 1rem;
  height: 1.5vh;
}

article {
  flex: 1;
}

footer {
  display: flex;
  color: rgb(126, 123, 123);
  margin-top: 3rem;
  height: 3rem;
  width: 100vw;
}

footer div {
  flex: 1;
}

article img {
  width: 20rem;
  height: 17.5rem;
  margin: 1rem auto 0 auto;
  background-color: white;
}

#logo1 {
  background-color: transparent;
  height: 6rem;
  width: 15rem;
}

#products p {
  margin: 0 auto 0 auto;
  width: 20rem;
  text-align: left;
}
#products {
  color: rgb(126, 123, 123);
  width: 100vw;
  display: flex;
  margin-top: 3rem;
  align-items: stretch;
}
#products > article {
  margin: 0 3vw 0 3vw;
  background-color: rgb(237, 223, 225); /* Set color for content and padding */
  border: 2vw solid blanchedalmond; /* Set border color and width */
  border-radius: 2.5vw;
  padding: 2vw; /* Adjust padding as needed */
}

#background {
  height: 30rem;
  width: 100vw;
  overflow: hidden;
  opacity: 0.3;
}

.overlay {
  top: 17.5vh;
  left: auto;
  height: 30rem;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}

#logo2 {
  height: 4rem;
  width: auto;
}
